#rome{
    height: 450px;
    background-color: blue;
}

#rome1{
    height: 460px;
    background-color: yellow;
}

#cimy2{
    height: 200px;
    background-color: white;
    border: 1px solid black;
}

#cimy{
    height: 200px;
    background-color: blue;


}

#cimy0{
    height: 200px;
    background-color: red;
}

#ga{
    height: 200px;
    background-color: blue;

}

#gu{
    height: 200px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
}

#gi{
    height: 200px;
    background-color: blue;
}

#fu{
    height: 200px;
    background-color: black;
}
#fa{
    height: 200px;
    background-color: red;
}
#fi{
    height: 200px;
    background-color: orange;
}

#ru{
    height: 200px;
    background-color: white;
    border: 1px solid black;
}

#ra{
    height: 200px;
    background-color: green;
}

#ri{
    height: 200px;
    background-color: red;
}

#go{
    height: 150px;
    background-color: red;
}

#ge{
    height: 400px;
    background-color: orange;
    padding-top: 150px;
    padding-left: 200px;
}

#gz{
    height: 100px;
    background-color: red;
}

#ha{
    height: 200px;
    background-color: red;

}

#hu{
    height: 200px;
    background-color: white;
    border: 1px solid black;
}

#hi{

    height: 200px;
    background-color: black;
}

#h1{
    height: 400px;
    background-color: blue;
    width: 300px;
    display: inline-block;
}

#h2{
    height: 400px;
    background-color: white;
    border: 1px solid black;
    width: 300px;
    display: inline-block;
}



#h3{
    height: 400px;
    background-color: red;
    width: 300px;
    display: inline-block;
    
}
#g1{
    height:400px ;
    background-color: green;
    width: 300px;
    display: inline-block;
}
#g2{
    height: 400px;
    background-color:  white;
    border: 1px solid black;
    width: 300px;
    display: inline-block;

}
#g3{
    height: 400px;
    background-color: orange;
    width: 300px;
    display: inline-block;
}

#d1{
    height: 400px;
    background-color: green;
    width: 300px;
    display: inline-block;

}
#d2{
    height: 400px;
    background-color: white;
    border: 1px solid black;
    width: 300px;
    display: inline-block;

}

#d3{
    height: 400px;
    background-color: red;
    width: 300px;
    display: inline-block;
}
#ar{
height: 200px;
background-color: blue;
}

#ar1{

}
#ar2{

}